@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Pretendard-Bold;
    background-color: #f4f7fc;
    display: flex;
    min-height: 100vh;
}


.wrapper {
    display: flex;
    width: 100%;
}


.sidebar {
    background-color: #2c3e50;
    color: #fff;
    width: 250px;
    height: 94vh;
    padding: 20px;
    position: fixed;
    top: 3%; 
    left: 20px; 
    border-radius: 10px;
    overflow-y: auto;
}

.sidebar-header {
    text-align: center;
    margin-bottom: 30px;
    border-radius: 10px;
}

.sidebar-nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar-nav ul li {
    margin: 15px 0;
    border-radius: 5px;
}

.sidebar-nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar-nav ul li a:hover {
    background-color: #3498db;
}



button {
    border-radius: 8px;
}



.content {
    margin-left: 270px;
    padding: 30px;
    width: 100%;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    transition: all 0.3s ease;
}


.card h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #2c3e50;
}


.input-group {
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    color: #7f8c8d;
}

input, select, textarea {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    font-size: 16px;
    background-color: #ecf0f1;
    transition: border-color 0.3s ease;
}

input:focus, select:focus, textarea:focus {
    border-color: #3498db;
    outline: none;
}

button {
    padding: 12px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    transition: background-color 0.3s ease;
}



.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    padding: 8px 15px;
    margin: 0 5px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.pagination button:hover {
    background-color: #2980b9;
}

.pagination .active {
    background-color: #2980b9;
}


textarea {
    height: 150px;
    resize: none;
}

